extends layout 

block content 
    h1= title

    form(method='post')
        .form-section 
            label(for='name') Name: 
            input(type='text' id='name' name='name' placeholder='Name of category' required value=category ? category.name : '')
        .form-section 
            label(for='description') Description: 
            textarea(id='description' name='description' placeholder='Description of category' required)= category ? category.description : ''
        .form-section
            label(for='password') Password: 
            input(type='password' id='password' name='password')
        .form-section
            button Submit
            
    if errorMsgs
        ul
            each errorMsg in errorMsgs
                li= errorMsg