extends layout 

block content
    h1 Delete item instance: #[a(href=itemInstance.url)= itemInstance._id]
    h3 Item: #[a(href=itemInstance.item.url)= itemInstance.item.name]
    p #[strong Are you sure you wish to delete this item instance?]
    form(method='post')
        button Delete