body {
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  padding: 0;
  display: grid;
  grid-template-columns: 200px 1fr;
  row-gap: 25px;
}

main {
  padding-inline: 50px;
}

img {
  height: 250px;
  width: 250px;
  object-fit: contain;
}

hr {
  margin-block: 25px;
}

a {
  color: #00b7ff;
}

button:hover,
input[type='checkbox']:hover {
  cursor: pointer;
}

textarea {
  width: 100%;
  height: 100px;
  margin-top: 5px;
}

.form-section {
  margin: 15px;
}

.item-details-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  gap: 25px;
}

@media (max-width: 600px) {
  body {
    display: block;
  }
}
